@using System.Security.Claims;
@model CarShop.ViewModels.CreateOrderViewModel

@{
    ViewData["Title"] = "CreateOrder";
}

<h1 class="text-center">CreateOrder</h1>

<hr />
<div class="row">
    <div class="offset-md-4 col-md-4">
        <form asp-action="CreateOrder">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group visually-hidden">                
                <input asp-for="UserId" class="form-control" value="@ViewBag.UserId"/>                
            </div>
            <div class="form-group">
                <label asp-for="Post" class="control-label"></label>
                <select asp-for="Post" id="post" class="form-control mb-3">
                    <option accesskey="novaPost" selected>Nova Post</option>
                    <option accesskey="ukrPost">Ukr Post</option>
                </select>
                <span asp-validation-for="Post" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryCity" class="control-label"></label>
                <select asp-for="DeliveryCity" id="deliveryCity" class="form-control mb-3"></select>
                <span asp-validation-for="DeliveryCity" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DeliveryAddress" class="control-label"></label>
                <select asp-for="DeliveryAddress" id="deliveryAddress" class="form-control mb-3"></select>
                <span asp-validation-for="DeliveryAddress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="PaymentMethod" class="control-label"></label>
                <select asp-for="PaymentMethod" id="paymentMethod" class="form-control mb-3">
                    <option accesskey="prepayment" selected>Prepayment</option>
                    <option accesskey="payment after delivery">Payment after delivery</option>
                </select>
                <span asp-validation-for="PaymentMethod" class="text-danger"></span>
            </div>
            <div class="form-group my-3">
                <input type="submit" value="Order goods" class="btn btn-primary w-100" />
            </div>
        </form>
    </div>
</div>

<div class="mx-3">
    <a asp-controller="Cart" asp-action="Index" class="btn btn-primary">Back to the Cart</a>
</div>


@* @section Scripts{
    <script src="~/js/createOrder.js"></script>
} *@
