<div class="text-center mt-5">
    <p>Order created</p>
    <a asp-controller="Home" asp-action="CarList" class="btn btn-primary">To shopping</a>
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">To home page</a>
</div>
