* {
    box-sizing: border-box;
}

ul{
    list-style-type:none;
}

body {
    color:aliceblue;
}
.root{
    padding-top:56px;
}

td {
    color: aliceblue;
}

a {
    text-decoration: none;
}

.manageBtn{
    min-width: 100px;
}

img {
    width: 400px;
    height: 220px;
    object-fit: cover;
    object-position: center;
    border-radius: 10px;
    box-shadow: 0 0 5px gray;
    transition: all 1s;
}

    img:hover {
        box-shadow: 0 0 15px gray;
    }
