@model IEnumerable<Car>
@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <h1>Welcome to the car shop</h1>    
    <section class="mt-3 mb-3">
        <h2 class="text-start">Top sale cars</h2>
        <div>
            @foreach (Car car in Model)
            {
                await Html.RenderPartialAsync("_CarCard",car);
            }
        </div>
    </section>
</div>
