<p class="text-center"><b>You do not have access to this page</b></p>
<p class="text-center">Contact the administrator</p>
<div class="text-center">
    <a asp-controller="Home" asp-action="Index" class="btn btn-primary">Back to home page</a>
</div>
